* {
  background-color: #5d3891;
}

.sidebar {
  /* margin: 0;
  padding: 0; */
  width: 200px;
  /* background-color: #f1f1f1; */
  position: absolute;
  /* height: 100%; */
  /* overflow: auto; */
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
/* .sidebar a.active {
  background-color: #f99417;
  color: white;
} */

/* Links on mouse-over */
/* .sidebar a:hover:not(.active) {
  background-color: #f99417;
  color: white;
} */

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
/* div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
} */

/* On screens that are less than 700px wide, make the sidebar into a topbar */
/* @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
} */

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
/* @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} */

/* h1 {
  font-size: 42px;
  text-align: center;
  font-family: "coiny", cursive;
} */

/* .card-form {
  background-color: #e8ee22;
} */

/* .card {
  font-size: 20px;
  line-height: 1.4;
  font-family: "Sono", monospace;
  background-color: #f5f5f5;
} */

ul {
  list-style: none;
}

/* body {
  background-color: #f99417;
} */

.colorPalette {
  color: #5d3891;
  color: #f99417;
  color: #e8e2e2;
  color: #f5f5f5;
}
